.deletePage{
    margin: 5rem 0;
    h1 {
        text-align: center;
        font-size: 3.6rem;
        font-family: 'Lobster', cursive;
    }

    p {
        text-align: center;
        font-size: 1.4rem;
    }

    button {
        background: yellowgreen;
        margin: 3rem;
        padding: 1.6rem 2rem;
    }

    > div {
        display: flex;
        justify-content: center;
    }
}